* { direction: rtl; }
.owl-wrapper-outer{direction: ltr;}
#column-left{ float:right; }
#column-right{ float:left; }
.layout-2.left-col #content {
    padding-right: 10px;
	padding-left:15px;
}
.flex-viewport {direction: ltr;}
.main-menu > ul > li {float:right;}
.main-menu > ul > li ul > li > ul{ margin-left:0; margin-right:-13px;}
.main-menu > ul > li ul > li > a { position:relative;}
.flex-control-nav{ right:auto; left:10px; padding:0;}
.sale{ left:0px; right:auto; }
.product-grid .sale {
    left: 0;
	right:auto;
}
.slider-banner .slide {
    float: right;}
.product-list .sale{  left: auto;right: 10px; }
.customNavigation a.prev { left: 10px;  right: auto;}
.customNavigation a.next{ left:24px;  right: auto; }
.banners-slider-carousel .customNavigation a.next {left: auto;}
.main-menu > ul > li ul > li > a.activSub{background: url("../../image/megnor/rtl/cat_arrow_hover_rtl.png") no-repeat scroll left center; }


.main-menu > ul > li ul > li:hover > ul {	left:auto; right:173px;}
.box .box-content ul li{ padding-right:0; margin-right:0; }
ul.box-category > li a.active + ul { margin-left:0; margin-right:0; padding-left:0px }
.box .box-content ul ul{ margin-left: 0;
    margin-right: -18px;}
.box .box-content ul ul li ul { margin-right: -21px;}
ul.box-category > li ul > li > a{
	background: url("../../image/megnor/rtl/subcat_arrow_rtl.png") no-repeat scroll right center !important;
    padding-right: 12px;
}
ul.box-category > li ul > li > a:hover{
	background: url("../../image/megnor/rtl/subcat_arrow_hover_rtl.png") no-repeat scroll right center !important; 
}
#footer .column li a {
    background: url("../../image/megnor/rtl/footer_cat_arrow_rtl.png") no-repeat scroll right 6px transparent;padding-right: 12px;padding-left:auto;
}
#footer .column li a:hover{
	background: url("../../image/megnor/rtl/footer_cat_arrow_rtl.png") no-repeat scroll right -29px transparent;
}
#footer .column li:hover a {
    background-position: right -29px !important;
}
.customSelectInner , .customSelectOpen .customSelectInner{ background-position:left center; } 
.customSelectInner {padding-left:10px;  text-align: right;}
.product-grid li, #content .box-product .product-items{ float:right; }
.category-info .image{ float:right; margin-left:10px; }
#column-left .box-product .image, #column-right .box-product .image{ float:right;   margin-left: 7px; margin-right:0; }
#column-left .box-product .rating, #column-right .box-product .rating, #column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .price, #column-right .box-product .price, #column-left .box-product .cart, #column-right .box-product .cart{ margin-right:43px; margin-left:0; }
.product-list .right{ float:left;margin-left: 0px; margin-right:15px; text-align:left;}
.product-list .image {    float: right;    margin-left: 10px; margin-right:0; }

.product-info > .left + .right {  margin-right: 295px;   margin-left:0px;}
.product-carousel .slider-wrapper-outer{ direction:ltr !important; } 
#topcontrol{ right:auto !important; left:10px !important; } 

.list-inline {padding-right:0;}
.col-sm-3.category_list {
    float: right;
}
.col-sm-3.category_list > ul {
    padding-right: 15px;
}
#column-left .product-thumb .button-group { margin-left: 80px;}
.category_img {float:right;}
.category_description {float:left;}
.list-unstyled {padding-right:0;}
.treeview-list .expandable-hitarea, .treeview-list .hitarea {float:left;}

.addthis_toolbox.addthis_default_style ,.likes {float:right;}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {float: right; margin-right: -20px;}
.radio, .checkbox { padding-right: 20px;}

#logo {text-align: left; direction: ltr;}


.product-thumb .caption {
    padding: 0 10px 0 0px !important;
}
.product-block-inner .button-group {
    padding-right: 10px; padding-left:0;
}
.product-list .product-block-inner .button-group{padding-right:0;}
.product-carousel .product-thumb .compare_button{margin:0;}
.review-rating {float: right;}
.rating-star > a {
    padding-right:10px;
	padding-left:0;
}
.input-group.date .form-control ,.input-group.time .form-control ,.input-group.datetime .form-control {width:99%;}

.rating .rating-star .fa-stack{float:right;}
.btn-list-grid .btn-group {float:left;}
#related-carousel .product-thumb .button-group button,#related-grid .product-thumb .button-group button{margin:0;}
#cart .text-right strong {
    display: inline-block;
}
.post_comment{   float: right;  margin-right:auto; margin-left:15px;}
#testimonial-blog .fa.fa-comment, #testimonial-blog .fa.fa-heart{float:right;  padding: 1px 0 0 8px;}
button.close {padding: 0 0 0 5px; float:left;}

#top .pull-left {
    float: right !important;
}
#top .pull-right {
    float: left !important;
}
#top-links .checkout-cms a {
    padding-right: 7px;
	padding-left:0px;
}
.header-logo{ width:auto;}
header .container .col-sm-3{float:left;}
.col-sm-4.header-logo {float: right;}
.header-tele-cms{ left: 13px; right:auto;}
.cms-data {
    border-left: 1px solid #eeeeee;
	border-right:none;
    margin: 0 10px 0 0;
    padding-left: 20px;
	padding-right:0;
}

.header-tele-cms .telephone {
    float: right;
}
header .container .col-sm-5 {
    float: left;
}
.box .box-content {
    padding: 10px 10px 10px 0 !important;
}
.box .box-content ul li ul li a.activSub:before, .box .box-content ul li a.activSub:before{
	right: auto;
	left: 13px;
	content:"\f104";
	font-family: "FontAwesome";
}
.box .box-content ul li a, #content .content ul li a{ padding: 8px 5px 8px 0px;}
.dropmenu ul, .dropmenu div{  right: 265px; left:auto;}
.product-thumb .caption{text-align:right;}
#content .product-thumb .caption{
    float: right;
}

#content .box-product .rating {float:right;}
#content .button-group{float:right;}
 .htabs .etabs li ,  .category_filter .btn-list-grid , .btn-list-grid .btn-group ,  .category_filter .sort, .category_filter .limit-by, .product-list .product-thumb .image , .nav-tabs > li{float:right;}
.pagiantion-right,.category_filter .limit{float: left;}
.category_filter .sort-by {float:right;margin:5px 0px 0 10px;}
.compare-total{ margin:2px 15px 0 0px}
.tab-content .customNavigation a.prev, .related-products .customNavigation a.prev{left:0px ; right:auto;}
.tab-content .customNavigation a.next, .related-products .customNavigation a.next{left:29px; right:auto;}

.product-list .list-right {
    border-right: 1px solid #dddddd;
    float: left;
    padding: 0 30px 0 10px;
	border-left:none;
}
.product-list .product-thumb .sale{right:0;}

.productpage .col-sm-6{float:right;}
#cart .dropdown-menu.pull-right{right:auto; left:0;}
.text-left {    text-align: right;}
.table.table-bordered .input-group-btn , .input-group .form-control , .control-labels{float:right;}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{margin-right:5px;margin-left:0;}


#product .form-control {
    border-radius: 0 4px 4px 0;}



/*.box .box-category-heading { background: url("../../image/megnor/category.jpg") no-repeat scroll 230px 0 #2fb991;}*/
.box .box-heading, .side-box-heading{  border-right: 5px solid #ffe35f; border-left:none;}
#content .box .box-heading{border-right:none;}
#top-links .checkout-cms a{ background: url("../../image/megnor/header_top_links_pipe.jpg") no-repeat scroll right 2px transparent;}
#top-links .myaccount .dropdown-toggle{background:none;}





.nav-responsive .expandable{float:left; margin-left:15px;}
.product-layout.product-grid{  padding: 0 10px 0 0;}
#top #language .dropdown-menu, #top #currency .dropdown-menu{  left: auto; right:0;}
#bottomfooter > ul > li {
    background: url("../../image/megnor/header_top_links_pipe.jpg") no-repeat scroll left 13px transparent;
    padding: 10px 1px 3px 8px;
 }

#bottomfooter > ul .first {
    padding: 10px 0 0 8px;
}
.col-sm-6.text-left{text-align:left;}


/* footer cms */
.footer-top-right{float:left;}
.social{float:right;}
.aboutme-read-more{ float: left; left: 22px;right:auto;}
.tm-about-text {float: right;}
#footer .column {
    float: right;
    margin-right: 17px;
	margin-left:0;
}
.col-sm-3.column.second, .col-sm-3.column.third {border-left: 1px solid #eeeeee; border-right:none;}
#footer #footer_cms_block { border-left: 1px solid #eeeeee; border-right:none;  padding-left: 20px; padding-right:0; margin-right: 12px;  margin-left: 0px;}
/*.address {
    background: url("../../image/megnor/sprite.png") no-repeat scroll right -534px transparent;
    padding-right: 40px; padding-left:0;
}
.call-num {
    background: url("../../image/megnor/sprite.png") no-repeat scroll right -439px transparent;
    
    padding-right: 40px; padding-left:0;
}
.email {
    background:url("../../image/megnor/sprite.png") no-repeat scroll right -484px transparent;
 
    padding-right: 40px;padding-left:0;
}
*/

.breadcrumb>li+li:before {
float: right;
content: "\f100";
}

#banner3{width:100% !important;}
#footer .column ul {
    padding-right: 0;
}
.product-detail .nav-tabs{padding:0;}
.panel-body .col-sm-2.control-label {
    float: right;
}
.form-horizontal .control-label {float: right;}
#accordion .panel-heading .fa.fa-caret-down {
    float: left;
}
.list-buttoncart {
    left: 18px;
}
.list-group .btn-refine{text-align:right;}

.main-menu ul{margin: 0 11px 0 0;}
#content .total_amount { float:right;}
#content .aboutus .image1 ,#content .aboutus .image2 ,#content .aboutus .image3 ,#content .aboutus .image4{float:right;}
.checkout-checkout #accordion .col-sm-6{float:right;}
.contact-info .address-detail, .contact-info .telephone-fax, .contact-info .fax { }
.contact-info .left { float: right;}
.responsive-menu .main-navigation li a:hover {  border-right: 5px solid #ffe35f; border-left:none;}
#testimonialblog #testimonial-blog ,#testimonialblock #testimonial-block{width:261px;}

.contact-info .address-detail ,.contact-info .telephone,.contact-info .fax{float:right;clear:both;}
#column-left .product-thumb .price-old, #column-right .product-thumb .price-old {
    float: right;margin-left:3px;
}

#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button{float:right;margin:0;}
#column-left .product-thumb .button-group button span,#column-right .product-thumb .button-group button span{margin-left:0;}
.facebook a{margin: 0 8px !important;}
#footer .column li.email a{padding-right:0;}

.footer-link, #powered, .breadcrumb > li + li:before, #content .category_list li {
    float: right !important;
}

.product-thumb .price-old{margin-left:2px; margin-right:0;}
.product-grid .price-old{float:right; margin-left:5px;}
.pagination{padding:0;}
.category_filter .limit-by{   margin: 0 12px 0 8px;}
.account-voucher .form-horizontal .control-label ,.affiliate-register .form-horizontal .control-label{
    float: none;
}
.form-horizontal .form-group .col-sm-3{float:right !important;}
.product-list .product-thumb .btn-wish-compare .button-group button{margin:0 0 0 12px;}

.product-grid .button-group button.compare_button{margin-right:0;}
#tab-review .form-horizontal .control-label{padding-top:0;}


.productpage .product-desc{ padding:25px 10px 25px 15px;}
#product .form-group #button-cart, #product .form-group.required .btn-upload, .pull-left .btn.btn-default, .panel-body .pull-right .btn.btn-primary, #content .affiliate-desc.pull-right .btn.btn-primary, #content .account.pull-right .btn.btn-primary, #content .contact.pull-right .btn.btn-primary, #tab-review .pull-right .btn.btn-primary, .checkout-cart .pull-right .btn.btn-primary{margin-right:0;margin-left:10px;}
.productpage a.review {
    background: url("../../image/megnor/pencil.png") no-repeat scroll right center transparent;
    margin-left: 0px;
	margin-right:25px;
    padding-right: 20px;
	padding-left:0;
}

.product-info .product-image .customNavigation span.next{right:0px;}
  .buttons  .pull-right {
    float: left !important;
}
 .buttons .pull-left {
    float: right !important;
    
}

.radio-inline, .checkbox-inline{padding-left: 0px;padding-right: 20px;}

.account-transaction table td.text-right {
    border-left: 1px solid #dddddd;
	border-right:none;
}


.account-reward #content p, .account-transaction #content p {
    float: right;
}
.account-reward #content p b, .account-transaction #content p b {
    float: left;
}

.productbox-grid .product-thumb .button-group .compare_button{margin-right:0;}
 .checkout-cart .pull-left{margin-bottom:0;}


@media only screen and (max-width: 979px) {
 
	.nav-responsive .expandable{ float:left; margin-right:0; margin-left:10px;  }
	.nav-responsive div, .responsive-menu .hitarea{ margin-left:10px; margin-right:0; }
	 .responsive-menu .main-navigation ul{ padding-right:20px; padding-left:0; }
	.nav-responsive div, .responsive-menu .hitarea{ float:left; }
	.toggle .mobile_togglemenu{ background-position: left 4px; }
	 #column-left .hidden-xs, #column-left .hidden-sm, #column-left .hidden-md {
    margin-right: 22px; margin-left:0;
    text-align: right;
}
}

@media (max-width:1280px) {
	
	.heading-img{padding:10px 0;}
	.box .box-content ul ul { margin-right: -38px;}
	.box .box-content ul ul li ul {margin-right: -41px;}
	#testimonialblog #testimonial-blog, #testimonialblock #testimonial-block { width: 241px;}
	#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button{float:left;margin:0;}
	#column-left .product-thumb .button-group button span,#column-right .product-thumb .button-group button span{margin-left:0; margin-right:3px;}
}
@media (max-width: 1200px) {
	.box .box-content ul ul{  margin-right: -71px;}
/*	.box .box-category-heading { background: url("../../image/megnor/category.jpg") no-repeat scroll 158px 0 #2fb991;}*/
	#column-left .product-thumb .button-group { margin-right: 45px; margin-left:0;}
	#footer{   padding: 35px 18px 33px}
	.col-sm-3.column.fourth {  width: 235px;}
	#footer #contact{   width: 263px;	}
	#footer .column{    margin-right: 33px;}
	.aboutme-read-more { left: 60px;}
	.box .box-content ul ul {margin-right: -92px;}
	.box .box-content ul ul li ul {  margin-right: -95px;}
	.post_comment{margin-left:4px;}
	.col-sm-3.column.fourth {width: 274px;}
	#footer .column { margin-right: 10px;}
	.toggle .mobile_togglemenu { background: url("../../image/megnor/toggle-arrow.png") no-repeat scroll left 2px transparent;}
	.active .mobile_togglemenu {background-position: left -50px;}
	#testimonialblog #testimonial-blog, #testimonialblock #testimonial-block {
    width: 187px;
}
 #column-left .hidden-xs, #column-left .hidden-sm, #column-left .hidden-md {
    margin-right: 0px; margin-left:0;
    text-align: right;
}
#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button{float:right;margin:0;}
#column-left .product-thumb .button-group button span, #column-right .product-thumb .button-group button span{ margin-right: 0px;}

}
@media (max-width:992px) {.col-sm-3.column.second, .col-sm-3.column.third,#footer #footer_cms_block{border-left:none;} 	#footer .column { margin-right: 0px;}}
@media (max-width:979px) {
	.box .box-content ul ul {  margin-right: -132px;}
	.box .box-content ul ul li ul {margin-right: -135px;}
	#column-left .product-thumb .button-group {margin-right: 34px;}
	
	.pagiantion-right, .category_filter .limit { float: right;}
	#footer .column { margin-right: 0;}
	#testimonialblog #testimonial-blog, #testimonialblock #testimonial-block {
    width: 147px;
}
#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button {
   
    margin: 0 10px 0 0;
}
.table.table-bordered .input-group-btn, .input-group .form-control, .control-labels{float:none;}
}

@media (max-width: 767px) {

.col-sm-4.header-logo{float:none;}
#top-links a{background:none;}

#logo {text-align: center;}
#top .pull-left {
    float: right !important;   border-left: 1px solid #ffffff; border-right:none;
}
#top #language .dropdown-menu, #top #currency .dropdown-menu{  left: auto; right:0;}
#top #currency .currency-select , .dropdown-menu > li > a{text-align:right;}
.aboutme-read-more {left: auto;}
.aboutme-read-more a { float: left; left: 15px; width: auto;right: auto;}

#content .product-list .product-thumb .caption, .product-list .btn-wish-compare, .product-list .list-right{text-align:center;}

#content .button-group{float:none;}
#content .product-grid .button-group   ,#content .product-carousel .button-group {float:right;}
.product-list .list-right{border-right:none;}
.productpage .col-sm-6 { float: none;}
.form-horizontal .form-control{width:100%;clear:both;}
.product-list .list-right{padding:0;}
.list-buttoncart{left:0 ;right:0; margin:0 auto;}


.form-horizontal .control-label {
    text-align: right;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: right;
    margin-right: -20px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: -20px;
    margin-top: 3px;
}
.account-register .form-horizontal .control-label ,.account-newsletter .form-horizontal .control-label{ margin: 0 0 0 16px;}
.account-return-add #order-info .col-sm-3 {
    float: right;
}
.product-detail{   padding-top: 20px;}
.account-address-edit .form-horizontal .control-label{margin-left:15px;}
.form-group.required .col-sm-10,.affiliate-payment .form-group .col-sm-10 {
    clear: both;
}

}
@media only screen and (max-width: 479px) {
.header-tele-cms .telephone { float: none;}
.cms-data{border-left:none; margin: 0 0 0 15px;
    padding:0 9px 0 0;}
#top .tm_headerlinkmenu .dropdown-menu{left:0; right:auto;}
.category_filter .limit-by{clear:both;}
#product .form-group.required .input-group-btn {
   
}
#content .product-carousel .product-block, #content .product-grid-list .product-block, #content .box-product .product-block{   margin: 30px 6px;}
.hometab .tab-content .customNavigation a {top: -7px;}
#cart .dropdown-menu.pull-right{left:-40px;}
.product-compare .table{display:inline;}
.category_filter .limit-by.text-left label {
    margin: 15px 0 0;
}
#content .buttons .pull-right {
    clear: both;
    float: right !important;
    margin: 5px 0 0 !important;
}
.table{float:none;}
#accordion .input-group .form-control {
    width: auto;
}
#accordion .input-group .input-group-btn{float:right;margin:5px 0 0 0;}
.buttons {
    display: inline-block;
}

.category_filter .limit-by{margin-right:0;}
}

@media only screen and (max-width: 319px){
.cart-img {
    float: none;
    margin-right: 0;
}
#cart .dropdown-menu.pull-right {
    left: -36px;
}
.call{float:none;}
.header-tele-cms {
    left: 0;}
.radio-inline{ padding-left: 17px;}	
.account-address .text-right .btn.btn-danger {
    margin: 5px 0 0;
}
.input-group.date .form-control, .input-group.time .form-control, .input-group.datetime .form-control{width:auto;}
#cart .dropdown-menu.pull-right {
    left: -45px;
}
#cart .dropdown-menu{top:100px;}
#product .form-group.required .input-group-btn {
    clear: both;
    float: right;
    margin: 38px 0 0;
}
}
